* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    position: sticky;
    top:0;
    border: .15rem solid black;
    box-sizing: border-box;
}

.brand-title {
    font-size: 1.5rem;
    margin: 0.5rem;
    /* height: 100%;
    padding: 0;
    padding-left: 1rem; */
    /* height: 100%;
    box-sizing: border-box ; */
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    display: block;
    font-size: 1rem;
}

.navbar-links a:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.brand-title:hover {
    color: red;
    transition: 0.5s;
}

.toggle-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media(max-width: 30rem) {
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction:column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
}