* {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin-left: .5rem;
    margin-right: 0.5rem
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    border: .15rem solid black;
    box-sizing: border-box;
}

.brand-title {
    font-size: 1.5rem;
    margin: 0.5rem;
    /* height: 100%;
    padding: 0;
    padding-left: 1rem; */
    /* height: 100%;
    box-sizing: border-box ; */
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    display: block;
    font-size: 1rem;
}

.navbar-links a:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.brand-title:hover {
    color: red;
    transition: 0.5s;
}

.toggle-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media(max-width: 30rem) {
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}

@media(min-width: 30rem){
    main{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
@media(min-width: 40rem){
    main{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
@media(min-width: 50rem){
    main{
        margin-left: 4rem;
        margin-right: 4rem;
    }
}
@media(min-width: 60rem){
    main{
        margin-left: 8rem;
        margin-right: 8rem;
    }
}
@media(min-width: 70rem){
    main{
        margin-left: 16rem;
        margin-right: 16rem;
    }
}
